@use '@/styles/variables.scss' as *;

.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1rpx solid;
  border-radius: $radius-xs;
  padding: 0 $spacing-sm;
  
  &.sm {
    height: 36rpx;
    min-width: 72rpx;
    
    .text {
      font-size: $font-size-xs;
    }
  }
  
  &.md {
    height: 48rpx;
    min-width: 96rpx;
    
    .text {
      font-size: $font-size-sm;
    }
  }
}

.text {
  font-weight: $font-weight-medium;
  line-height: 1;
}
